* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.main_menu {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
  margin-left: auto;
  width: 45%;
  justify-content: space-around;
  cursor: pointer;
}

.link_hover:hover {
  color: antiquewhite;
}

.link {
  color: inherit;
  text-decoration: none;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
